---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Portfolio | Juan Cruz Peralta">
<main>
  <Header/>
</main>
</Layout>

<style>
</style>
