<section class="container-about section">
  <div class="aboutMe">
    <article class="article-aboutMe">
      <h2>Sobre mi</h2>
<p>¡Hola! Soy <span class="color-resalt">Juan Cruz Peralta, desarrollador web</span> en los inicios de mi carrera, apasionado por el mundo de la programación y con gran entusiasmo por aprender y crecer en este campo.</p>
<p>Tengo 21 años y me encuentro en constante aprendizaje, <span class="color-resalt">esforzándome cada día por mejorar mis habilidades y conocimientos.</span> Aunque aún no tengo una experiencia laboral consolidada, estoy comprometido a desarrollar una sólida trayectoria profesional.</p>
<p>Mi meta es convertirme en un <span class="color-resalt">excelente desarrollador</span> y contribuir de manera significativa en el ámbito tecnológico.</p>
    </article>
    <article class="article-skills">
      <h2>My Skills</h2>
      <div class="div-skill">

        <div class="skill">HTML</div>
        <div class="skill">CSS</div>
        <div class="skill">JavaScript</div>
        <div class="skill">Desing UI/UX</div>
        <div class="skill">GitHub</div>
        <div class="skill">React JS</div>
        <div class="skill">TailwindCSS</div>
        <div class="skill">Astro</div>
        <div class="skill">SQL</div>

      </div>

    </div>
    </article>

</section>


<style is:inline>
  .color-resalt{
    color: var(--color-resalt);
  }
  .article-aboutMe h2{
    color: var(--color-title);
  }
  .article-aboutMe p{
    font-size: 1.1rem;
  }
  .aboutMe{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1.2rem;
    margin-top:2rem;
  }
  .div-skill{
    display: flex;
    flex-wrap: wrap;
    gap:0.8rem;
  }
  .skill{
    padding:.8rem;
    border-radius: .35rem;
  background-color: var(--color-secondary-bg);
  }

</style>