<footer>
  <h2>Contacto</h2>
  <div>
    <p>Estaría fascinado en unirme a un equipo de trabajo para poder aportar mis habilidades y seguir mejorando mis conocimientos.</p>
    <div class="contact-info">
      <p>Correo: Juanc7peralta@gmail.com</p>
      <a href="">Linkedin</a >
      <a href="">Github</a >
      <a href="">Twitter</a >
    </div>
  </div>
</footer>

<style is:inline>
  h2{
    color: var(--color-title);
  }
.contact-info a{
  
  text-decoration: none;
  color: var(--color-skill-text);
  background-color: var(--color-secondary-bg);
  padding:0.5rem;
  border-radius: .35rem;

}
.contact-info a:hover{
   background-color: #2b7a77ad;
}
</style>