---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
:root {
  --color-primary: rgb(20, 20, 27);
  --color-secondary: rgb(211 210 220);
  --color-hover-primary: #17b06e;
}
body,
html {
  min-height: 100vh;
  margin: 0;
  background-color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  color: var(--color-secondary);
}
main {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  max-width: 1000px;
  position: relative;
  margin-right: auto;
  row-gap: 2.5rem;
  padding-bottom: 5rem;
}

</style>
